<md-dialog aria-label="Parking Sign" class="sign" ng-cloak>
	<form>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h1>Parking&nbsp;</h1>
				<div ng-if="feature.class!=='Not Applicable'">
					<h3>{{feature.class}}</h3>
				</div>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
		        	<md-icon aria-label="Close dialog" >clear</md-icon>
	        	</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content>
				<div class='md-dialog-content'>
					<h2>{{feature.prim_time}}</h2>
					{{feature.prim_period[1]}}<br/>
					<div class="days">
						{{feature.prim_period[0]}}
					</div>
					<div ng-if="feature.sec_time!=='Not Applicable'">
						<h2>{{feature.sec_time}}</h2>
						{{feature.sec_period[1]}}<br/>
						<div class="days">
							{{feature.sec_period[0]}}
						</div>
					</div>
					<p ng-if="feature.cost==='Paid'">
						{{feature.cost}}<br/>
						<em>See the meter for prices</em>
					</p>
				</div>
		</md-dialog-content>
	</form>
</md-dialog>
